.columns .Panel__in {
  display: flex;
  flex-direction: column;
}

.columns__list {
  display: flex;
  height: auto;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--dynamic_blue);
}

.columns__list .Gallery__viewport {
  flex-grow: 1;
}
