.column {
  box-sizing: border-box;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.column__wrapper {
  box-sizing: border-box;
  padding: 16px 0;
}

.column__header-button {
  border: none;
}

.column__title {
  margin: 0;
}
